.align-items-center{
    align-items: center;
}

.background-none{
    background: none;
}
.border-0 {
    border: 0
}
.box-sizing-content-box{
    box-sizing: content-box;
}
.block-size-100{
    block-size: 100%;
}

.color-currentColor{
    color: currentColor;
}

.display-flex {
    display: flex
}

.display-inline-flex {
    display: inline-flex
}

.flex-direction-column {
    flex-direction: column
}
.font-inherit{
    font: inherit;
}

.letter-spacing-inherit{
    letter-spacing: inherit;
}


.position-relative {
    position: relative
}

.justify-content-center{
    justify-content: center;
}


.padding-0 {
    padding: 0
}

.margin-0 {
    margin: 0
}



.vertical-align-top {
    vertical-align: top
}

.min-width-0 {
    min-width: 0
}

.max-width-100 {
    max-width: 100%;
}

.width-100 {
    width: 100%
}

.width-fit-content {
    width: fit-content
}


.gap-6 {
    gap: 1.5rem;
}

.gap-1 {
    gap: 0.25rem;
}

.is-full {
    inline-size: 100%
}

.transform-none {
    transform: none
}

.box-sizing-border-box{
    box-sizing: border-box
}

.cursor-text{
    cursor: text
}