:root {
    --background-default: #f5f5f9;
    --bg-body: hsl(216, 100%, 96%);
    --text-primary: rgb(34, 48, 62);
    --text-secondary: rgb(43, 48, 62, 0.700);
    --customColors-inputBorder: rgba(34, 48, 62, 0.220);
    --background-paper: #ffffff;
    --palette-primary-contrastText: #fff;
    --palette-primary-main: #696cff;

    --shape-borderRadius: 6px;

    --border-color: rgb(34, 48, 62, 0.120);
    --primary-color: #696cff;

    --font-family: sans-serif;
    --text-disabled: rgb(34, 48, 62, 0.400);
    --primary-main: #696CFF;
    --customShadows-primary-sm: rgb(105, 108, 255, 0.400);
    --primary-contrastText:#fff;
    --action-active: rgb(34, 48, 62, 0.600)
}