:root {
    --bg-body: hsl(216, 100%, 96%);
    --text-primary: rgb(34, 48, 62);
    --text-secondary: rgb(43, 48, 62);
    --customColors-inputBorder: rgba(34, 48, 62, 0.220);
    --background-paper: #ffffff;
    --palette-primary-contrastText: #fff;
    --palette-primary-main: #696cff;

    --shape-borderRadius: 6px;
}